@media only screen and (max-width: 992px) {
}
@media only screen and (max-width: 768px) {
  .cards {
    display: block;
  }

  section {
    margin-bottom: 10px;
  }

  table {
    width: fit-content;
  }
}


.cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
  }
  
  section {
    color: white;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 10px;
    background-color: #534A3C;;
    padding: 1rem;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.425);
    border: 2px solid black;
  }
  
  section img {
    width: 100%;
    border: 2px solid white;
  }
  
  .idsummary {
    text-align: center;
    background-color: white;
    border: 2px solid black;
    padding: 2em;
    margin-bottom: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.425);
  }
  
  .idsummary h3 {
    text-align: left;
    color: #534A3C;
  }
  
  table {
    background-color: #A0AC60;
    width: 100%;
    border-collapse: collapse;
    padding: 13px 40px;
    color: black;
    margin: auto;
    table-layout: fixed;
  }
  table:nth-of-type(odd) {
    background-color: #A0AC60;
  }
  
  th,
  td {
    border: 1px solid black;
    overflow: hidden;
  }
  
  td {
    padding: 0.5rem;
  }
  
  
  
